<nav class="navbar navbar-custom z-depth-1" role="navigation">
    <div id="nav-container">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-bell notification-icon"></span>
                </a>
                <ul role="menu" class="dropdown-menu notifications-panel">
                    <li class="notification-item">
                        <div class="notification-header">
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="notification-body">
                            <span class="glyphicon glyphicon-bell notification-icon"></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                        </div>
                    </li>
                    <li class="notification-item">
                        <div class="notification-header">
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="notification-body">
                            <span class="glyphicon glyphicon-bell notification-icon"></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                        </div>
                    </li>
                    <li class="notification-item">
                        <div class="notification-header">
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="notification-body">
                            <span class="glyphicon glyphicon-bell notification-icon"></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>