<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                MyCRT
            </a>
        </li>
        <li>
            <a href="dashboard" id="#btnDashboard">Dashboard</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Capture <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="capture">Start Capture</a></li>
                <li><a href="manageCaptures">Manage Captures</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Replay <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="replay">Start Replay</a></li>
                <li><a href="manageReplays">Manage Replays</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analyze Results <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="analyze">Compare Results</a></li>
                <li><a href="#">History</a></li>
            </ul>
        </li>
        <li>
            <a href="settings">Settings</a>
        </li>
        <li>
            <a href="#">Help</a>
        </li>
        <li>
            <a href="#">Logout</a>
        </li>
    </ul>
</nav>