/* =============== Variables ================================*/
:root {
    --primary: #455a64;
    --p-light: #708690;
    --p-dark: #1b3039;
    /* --secondary: #ffc107; */
    --secondary: #ff8f00;
    /* --s-light: #fff350; */
    --s-light: #ffc107;
    --s-dark: #c79100;
    --grey-light: #cfd8dc;
    --grey-dark: #9ea7aa;
    --white: #ffffff;
}

/* =============== Layout ================================*/
/* ================ Main ================================ */
.wrapper {
        display: flex;
}

.input-label {
    width: 100%;
}

/* =============== Navbar ================================*/
.navbar-custom {
    margin-bottom: 0px;
}

.navbar-right {
    margin-right: 10px;
}

.pad-top {
    margin-top: 5px;
}

#bootstrap-override{
    float: right;
    margin-right: 40%;
}

/* =============== Sidebar ================================*/
#sidebar {
        margin-right: 20px;
        height: 100vh;
        background-color: var(--primary);
}

/* ======================= Styles ================= */
/* ======================= Main ================= */
body {
    background-color: var(--white);
}

.title {
    color: white;
    
}

.btn-primary,
.btn-default,
.btn-primary:focus,
.btn-default:focus {
    background-color: var(--s-light) !important;
    color: black !important;
}

.btn-primary:hover,
.btn-default:hover {
    background-color: var(--secondary) !important;
    color: black !important;
}

.input-label {
    color: black;
}

.input-label > input:focus {
    border-bottom: 1px solid #000;
    border-right-style: none;
    box-shadow: 1px 0 0 #000;
}

/* ======================= Navbar ================= */
.navbar-right {
    color: white;
}

.navbar-custom {
    color: white;
    background-color: var(--p-dark);
}
